/*HEADERS*/

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
}

/*FORM*/

input{
    font-size: 20px;
    font-weight: bold;
    width: 250px;
    height: 50px;
    margin: 10px 20px;
    border-radius: 10px;
    border-color: blue;
}

/*FOOTER*/

label{
    font-size: 20px;
    font-weight: 200;
}

button{
    font-size: 35px;
    color:cornflowerblue;
    margin: 0px 0px 40px 0px;

}